body {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Montserrat", sans-serif;
    /* text-transform: uppercase; */

    /* background: url("/img/coffee.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center; */
}


.navbar {
    background: white;
    text-transform: uppercase;
}

.navbar div {
    display: none;
}

.navbar .toggle,
.navbar .brand {
    display: inline-block;
}

.navbar .link {
    display: block;
    text-align: center;
    padding: 1.5em 3em;
    text-decoration: none;
    /* background: #223047; */
    color: #223047;
}

.navbar .link:hover,
.navbar .link:active {
    color: white;
    background: #223047;
}

.navbar .brand {
    width: 10em;
    align: center;
    padding: 1em;
}

.navbar .brand img {
    width: 20%;
    height: auto;
    align: center;
}

.navbar a {
    text-decoration: none;
}

.navbar .toggle {
    padding: 1em;
    color: black;
}

@media (min-width: 48em) {
    .navbar {
        display: flex;
    }

    .navbar div {
        display: flex;
    }

    .navbar .right {
        display: flex;
        flex: 1;
    }

    .navbar .link {
        width: auto;
    }

    .navbar .right {
        justify-content: flex-end;
    }

    .navbar .toggle {
        display: none;
    }
}

@media (max-width: 48em) {
    .navbar.active .toggle {
        background: #223047;
        color: white;
    }

    .navbar .brand {
        text-align: center;
    }

    .navbar .brand img {
        width: 20%;
        height: auto;
        align: center;
    }

    .navbar.active div {
        display: block;
    }
}

.hero {
    background: url('../img/coffee2.png');
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 800px;
    color: #fff;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mid h2 {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 100;
    /* letter-spacing: 10px; */
}

.more a {
    border: 1px solid white;
    padding: 1%;
    margin: 2%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.more a:hover {
    color: white;
    background: #223047;
    border: #223047;
}



