/*Custom Stylesheet for Projects*/

body{
    margin: 0;
    padding: 0;
    background-color: rgb(69, 90, 134);
}


.header h1 {
    padding: 0px 20px;
    font-size: 50px;
    color: white;
    text-transform: capitalize;
    font-weight: lighter;
    font-family: "Montserrat", sans-serif;
}

ul{
    padding: 0;
    position: relative;
    width: 100%;
    margin: 10px 10px 30px;
}

ul li {
    list-style: none;
    float: left;
    padding: 10px 20px;
    color: #fff;
    /* border: 1px solid #fff; */
    margin-right: 15px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

ul li:hover{
    background: #fff;
    color: rgb(69, 90, 134);
    font-weight: bolder;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 10px;
    padding: 0px 20px;
    justify-items: center;
}

.box {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.box img {
    height: 200px;
    width: 100%;
    transition: .5s;
    object-fit: cover;
}

.box:hover img{
    transform: scale(1.1);
    opacity: .5;
    filter: blur(5px);
}

.caption {
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: 15px;
    left: 15px;
    /* background: #fff; */
}

.about {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 20px;
    transition: .2s;
    text-align: center;
    opacity: 0;
    font-family: "Montserrat", sans-serif;
}

.box:hover .about {
    opacity: 1;
}

.about h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 23px;
    text-transform: uppercase;
}

.about h3 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-style: italic;
}

.about p {
    color: #fff;
    margin: 10px 0 0;
    padding: 0;
    font-size: 14px;
}

.caption:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: .35s;
    transform: scale(0,1);
}

.box:hover .caption:before {
    transform: scale(1,1);
}

.caption:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: .35s;
    transform: scale(1,0);
}

.box:hover .caption:after {
    transform: scale(1,1);
}

.navbar {
    background: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar div {
    display: none;
}

.navbar .toggle,
.navbar .brand {
    display: inline-block;
}

.navbar .link {
    display: block;
    text-align: center;
    padding: 1.5em 3em;
    text-decoration: none;
    /* background: #223047; */
    color: #223047;
}

.navbar .link:hover,
.navbar .link:active {
    color: white;
    background: #223047;
}

.navbar .brand {
    width: 10em;
    align: center;
    padding: 1em;
}

.navbar .brand img {
    width: 20%;
    height: auto;
}

.navbar a {
    text-decoration: none;
}

.navbar .toggle {
    padding: 1em;
    color: black;
}

@media (min-width: 48em) {
    .navbar {
        display: flex;
    }

    .navbar div {
        display: flex;
    }

    .navbar .right {
        display: flex;
        flex: 1;
    }

    .navbar .link {
        width: auto;
    }

    .navbar .right {
        justify-content: flex-end;
    }

    .navbar .toggle {
        display: none;
    }
}

@media (max-width: 48em) {
    .navbar.active .toggle {
        background: #223047;
        color: white;
    }

    .navbar .brand {
        text-align: left;
    }

    .navbar .brand img {
        width: 20%;
        height: auto;
    }

    .navbar.active div {
        display: block;
    }
}

